@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  outline: none;
}

.slider-container {
  grid-area: slider;
}

.footer {
  margin-top: auto;
}

.image-container {
  margin: 0;
  padding: 0;
}

.background {
  background: linear-gradient(to bottom, #394b8c 60%, #fcfcfd 40%);
}

@media screen and (min-width: 1024px) {
  .background {
    background: linear-gradient(
      to bottom,
      #394b8c 0px,
      #394b8c 100px 300px,
      white 100px,
      white 100%
    );
  }
}
.background-list {
  background: linear-gradient(
    to bottom,
    #394b8c 0px,
    #394b8c 100px 300px,
    white 100px,
    white 100%
  );
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}
